.page_body {
  font-family: sans-serif;
}

.page_header {
  padding-top: 63px;
  padding-bottom: 48px;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: #000000;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 38px;
}

.accent_color {
  color: #4bcaff;
}

.header_menu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  background-color: #35444f;
  display: flex;
  justify-content: center;
}

.header_menu_item {
  display: inline-block;
  background-color: #35444f;
  border-left: 1px solid #ffffff;
}

.header_menu_item:hover {
  background-color: #222f3a;
  /* padding-top: 26px;
  padding-bottom: 19px;
  padding-left: 35px;
  padding-right: 35px; */
}

.header_menu :nth-child(4) {
  border-right: 1px solid #ffffff;
}

.header_menu_link {
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-top: 26px;
  padding-bottom: 19px;
  padding-left: 35px;
  padding-right: 35px;
  display: inline-block;
}

.left_menu_content {
  margin-bottom: 51px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left_menu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  width: 344px;
  border: 1px solid #000000;
}

/* .left_menu_item {
}
 */
.left_menu_item:hover {
  background-color: #dbdbdb;
  padding-left: 26px;
}

.left_menu_link {
  color: #485863;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 44px;
  display: inline-block;
}

.left_menu_link:hover {
  color: #35444f;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
}

.content {
  width: 885px;
}

.content_image {
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_image:hover img {
  transform: scale(1.1);
}

.content_image img {
  transition: transform 0.5s;
}

.content_text {
  color: #2c2c2c;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 35px;
  margin-bottom: 0;
}

.page_footer {
  padding-bottom: 30px;
}

.footer_wrapper {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
}

.footer_menu {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.footer_menu_item {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-right: 15px;
}

.footer_menu :nth-child(5) {
  padding-right: 0;
}

.footer_menu_link {
  color: #0c1927;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
}

.footer_menu_link:hover {
  color: #3181a6;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  text-decoration: underline;
}

.copyright {
  color: #010101;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}
