@font-face {
  font-family: "verdana_regular";
  src: url(../fonts/verdana_regular.woff2);
}

.page_background {
  background-image: url(../images/page_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.page_body {
  font-family: "Ubuntu", sans-serif;
}

/* ---HEADER START--- */

.page_header {
  padding: 17px 79px;
  background: rgba(0, 0, 0, 0.4);
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 1s;
}

.header_logo:hover {
  color: #01813f;
  transform: rotate(360deg);
}

.header_right_menu {
  display: flex;
  align-items: center;
  height: 24px;
}

.calendar_svg,
.mail_svg,
.compass_svg {
  display: inline-block;
  margin-right: 25px;
}

svg:hover .color_hover {
  fill: #01813f;
}

/* .input_text {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
} */

.login_link,
.register_link {
  color: #ffffff;
  font-family: "verdana_regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
}

.login_link::before {
  content: "Welcome, ";
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: "Ubuntu", sans-serif;
  cursor: default;
}

.register_link::before {
  content: " or ";
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: "Ubuntu", sans-serif;
  cursor: default;
}

.login_link:hover,
.register_link:hover {
  color: #01813f;
}

.select_input {
  display: inline-block;
  height: 19px;
  padding-left: 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

/* ---HEADER END--- */

.page_main {
  /* height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}

.registration_form {
  width: 444px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding: 31px 60px 38px;
  position: absolute;
  top: calc(50vh - 292px - (58px / 2));
  left: calc(50vw - 222px);
}

.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 15px;
}

.form_title {
  color: #434343;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  position: relative;
}

.form_title::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: -60px;
}

.form_login_link {
  color: #3cb878;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
}

.form_login_link:hover {
  color: #01813f;
  text-decoration: underline;
}

.buttons_social_networks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.button_facebook {
  border: none;
  border-radius: 4px;
  background-color: #305db8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 17px;
  padding-right: 22px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.facebook_img,
.google_img {
  display: inline-block;
}

.facebook_text {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 19px;
  padding-left: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-left: 1px solid rgba(10, 22, 47, 0.1);
}

.button_google {
  border: none;
  border-radius: 4px;
  background-color: #df4a32;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 27px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.google_text {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7px;
  padding-left: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-left: 1px solid rgba(43, 13, 9, 0.1);
}

.button_facebook:hover {
  background-color: #022263;
}

.button_google:hover {
  background-color: #ab1f09;
}

/* .registration_offer {
  color: #848484;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: lowercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 13px;
  position: relative;
}

.registration_offer::before,
.registration_offer::after {
  display: block;
  content: "";
  width: 152px;
  border-bottom: 1px solid #f2f2f2;
  position: absolute;
}

.registration_offer::before {
  top: 7px;
}

.registration_offer::after {
  left: 172px;
  bottom: 7px;
} */

.form_wrapper {
  margin-left: 0;
  margin-right: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #f2f2f2;
  padding: 0;
  position: relative;
}

.form_legend {
  color: #848484;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: lowercase;
  padding: 0;
  width: 20px;
  text-align: center;
  background-color: #ffffff;
  position: absolute;
  top: -9px;
  left: 152px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  height: 44px;
  margin-top: 15px;
  padding: 14px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #434343;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
  width: 322px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #bebebe;
}

/* .checkbox {
  color: #434343;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: none;
  padding-left: 2px;
}

input[type="checkbox"] {
  margin: 12px 8px 0 0;
} */

.checkbox {
  position: absolute;
  left: -20px;
  top: 307px;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  color: #434343;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
}

.checkbox + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  left: 2px;
}

.checkbox:checked + label:before {
  background-image: url(../images/agree_checked.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center;
}

.terms_conditions {
  font-family: "verdana_regular";
  color: #3cb878;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
}

.terms_conditions:hover {
  color: #01813f;
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  margin-top: 20px;
  padding: 15px 100px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #01813f;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
