.page_background {
  background-image: url(../images/page_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.page_body {
  font-family: sans-serif;
}

.page_header {
  padding-top: 46px;
  padding-bottom: 17px;
}

.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_wrapper {
  position: relative;
}

.hovering_mouse {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.logo_wrapper:hover .hovering_mouse {
  display: block;
}

.logo_wrapper:hover .color_hover {
  color: #f26522;
}

.logo_image {
  display: inline-block;
  margin-top: 5px;
}

.logo_text {
  display: inline-block;
  margin-left: 8px;
}

.logo_text1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  margin-top: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.logo_text2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* .color_hover {
  color: #f26522;
} */

.contact_mail {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 19px;
}

.contact_mail:hover,
.contact_tel:hover {
  color: #f26522;
}

.contact_tel {
  display: block;
  text-align: right;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.tours {
  /* Перша половина від 48рх по макету */
  padding-bottom: 24px;
}

.tours_list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 65px;
  row-gap: 37px;
}

.tour_image {
  border: 2px solid;
  border-image-source: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.item_link {
  position: relative;
}

.tour_description {
  width: 300px;
  /* padding: 7px 16px 12px; */
  padding-left: 16px;
  padding-right: 16px;
  background-color: #f26522;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  position: absolute;
  bottom: 39px;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}

.item_link:hover .tour_description {
  height: 57px;
}

.item_link:hover .tour_title {
  color: #f26522;
}

.description_from {
  grid-column: span 2;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  margin-top: 7px;
  margin-bottom: 8px;
}

.description_cost {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.description_details {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
  justify-self: end;
}

.description_details::after {
  content: url(../images/details_arrow.png);
  margin-left: 16px;
}

.tour_title {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  text-transform: capitalize;
}

.page_footer {
  padding-top: 24px;
  /* Друга половина від 48рх по макету */
  padding-bottom: 15px;
}

.copyright {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
