.page_body {
    font-family: sans-serif;
}

.page_header {
    margin-left: auto;
    margin-right: auto;
    width: 620px;
    padding-top: 31.5px;
    padding-bottom: 31.5px;
}

/* .navigation {
    display: inline-block;
} */

.menu {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.menu_item {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 91px;
}

.menu_item_download {
    margin-right: 0;
}

.menu_link {
    color: #FF0000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.simple_photo {
    width: 100%;
    height: auto;
}

.content {
    padding-top: 48px;
    padding-bottom: 42px;
}

.container {
    text-align: center;
}

.content_title {
    color: #373737;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 774px;
    margin-top: 0;
    margin-bottom: 38px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: left; */
}

.content_text {
    color: #373737;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 1145px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 28px;
}

.mb_content-botton {
    margin-bottom: 66px;
}

.botton {
    background: #FF0000;
    border-radius: 4px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    padding: 18px 43px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.page_footer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 29px;
    max-width: 1070px;
}

.copyright {
    color: #373737;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    text-align: right;
}